{% extends "base.html" %}
{% block title %}Product{% endblock %}
{% block content %}

        <h3>CREATE PRODUCT </h3>

<form  id="Login" action="{{ url_for('product.deleteProductByNameEnd') }}" method="POST">

<table align="center" cellpadding = "10">


<!----- PRODUCT NAME ---------------------------------------------------------->
    <tr>
        <td>Product Name</td>
        <td><input type="text" name="productname" maxlength="30" />
        (max 30 characters a-z and A-Z)
        </td>
    </tr>

     <tr>

         <td> <button type="submit" class="btn" onclick="product.deleteProductByNameEnd">Delete Product</button>
         </td>
     </tr>

</table>

</form>


{% endblock %}