<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Eater - {% block title %}{% endblock %}</title>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
                 <nav class="navbar navbar-inverse">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="{{ url_for('home') }}">EATER</a>
                            </div>
                            <ul class="nav navbar-nav">
                                    <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
                                    <li><a href="{{ url_for('about') }}">About</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                    <li><a href="{{ url_for('auth.signUp') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                                    <li><a href="{{ url_for('auth.login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                                    <li><a href="{{ url_for('auth.firmSignUp') }}"><span class="glyphicon glypicon-user"></span>Firm Sign Up</a></li>
                            </ul>
                        </div>
                 </nav>
    {% block content %}{% endblock %}

    <footer>
      <small>&copy;Cihat Bostanci and Bunyamin Yasar</small>
    </footer>
</body>