{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="log-form">
  <h2>Login to your account</h2>
  <form  id="Login" action="{{ url_for('auth.login') }}" method="POST">
    <input type="text" id="email" title="email" placeholder="email" name="email" />
    <input type="password"  id="password" title="password" placeholder="password" name="password" />
    <button type="submit" class="btn" onclick="auth.login">Login</button>

    <a class="forgot" href="#">Forgot Username?</a>
  </form>
</div><!--end log form -->


{% endblock %}