{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
     <h3> USER PROFILE </h3>


<p>Customer Name:{{customername}}</p>

<p>Customer Address:</p>
  <div>
    {% for a in address %}

    <p>
         Street:{{a[1]}}
         Building  No:{{a[2]}}
         Apartment No:{{a[3]}}
         Locality: {{a[4]}}
         City:    {{a[5]}}

    </p>
  </div>
{% endfor %}

<p>Your Order</p>
<table>
  <tr>
    <th>Order</th>
      <th>--------------</th>
    <th>Cost</th>
  </tr>
    {% for order in orders %}
  <tr>
    <td>{{order[1]}} </td>
      <td>--------------</td>
    <td> {{order[3]}} </td>
  </tr>
  {% endfor %}
</table>


{% endblock %}